@using ThreeTrees.Metrics.Domain.EmployeeStatistics.Commands
@using ThreeTrees.Metrics.Domain.EmployeeStatistics.Entities;
@model CreateEmployeeStatisticCommand

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BilledHours" class="control-label"></label>
                <input asp-for="BilledHours" class="form-control" />
                <span asp-validation-for="BilledHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedTasks" class="control-label"></label>
                <input asp-for="CompletedTasks" class="form-control" />
                <span asp-validation-for="CompletedTasks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrunkedCups" class="control-label"></label>
                <input asp-for="DrunkedCups" class="form-control" />
                <span asp-validation-for="DrunkedCups" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlayedMCGames" class="control-label"></label>
                <input asp-for="PlayedMCGames" class="form-control" />
                <span asp-validation-for="PlayedMCGames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
